In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [84]:
#read de files
csv_2015_to_2022 = pd.read_csv('afa_2015_2022_spa.csv')

In [85]:
# describe the csv_2015_to_2022
csv_2015_to_2022.describe()

,fecha,partido,goles_local,goles_visitante,posesion_local,tiros_arco_local,intentos_local,faltas_local,tiro_esquina_local,posesion_visitante,...,altura_media_local,edad_media_local,proporcion_zurdos_local,valor_mercado_visitante,altura_media_visitante,edad_media_visitante,proporcion_zurdos_visitante,apuesta_local,apuesta_visitante,apuesta_empate
count,2821.000000,2821.000000,2821.000000,2821.000000,1496.000000,1496.000000,1496.000000,1496.000000,1496.000000,1496.000000,...,2821.000000,2821.000000,2821.000000,2821.000000,2821.000000,2821.000000,2821.000000,2818.000000,2818.000000,2818.000000
mean,13.586671,7.486707,1.292449,0.990783,51.115642,4.429144,13.676471,13.334893,5.392380,48.884358,...,1.789969,25.385380,0.228336,35.810429,1.789979,25.382698,0.228515,2.411806,3.932789,3.281011
std,7.874324,4.066589,1.126050,1.038575,10.788852,2.233298,4.740730,4.011623,2.835121,10.788852,...,0.011158,1.164381,0.051016,30.937508,0.011106,1.168756,0.051082,0.864064,1.840714,0.476900
min,1.000000,1.000000,0.000000,0.000000,21.000000,0.000000,1.000000,3.000000,0.000000,18.000000,...,1.757317,22.698113,0.093023,4.400000,1.757317,22.698113,0.093023,1.140000,1.260000,2.060000
25%,7.000000,4.000000,0.000000,0.000000,43.000000,3.000000,10.000000,10.000000,3.000000,41.000000,...,1.781860,24.644444,0.190476,14.925000,1.781860,24.608696,0.190476,1.850000,2.720000,3.000000
50%,13.000000,7.000000,1.000000,1.000000,51.000000,4.000000,13.000000,13.000000,5.000000,49.000000,...,1.789250,25.292683,0.230769,25.200000,1.789250,25.292683,0.230769,2.220000,3.480000,3.140000
75%,20.000000,11.000000,2.000000,2.000000,59.000000,6.000000,17.000000,16.000000,7.000000,57.000000,...,1.797600,26.085106,0.264151,46.425000,1.797600,26.085106,0.264151,2.770000,4.550000,3.390000
max,30.000000,15.000000,8.000000,6.000000,82.000000,13.000000,31.000000,27.000000,16.000000,79.000000,...,1.819211,28.523810,0.365385,201.050000,1.819211,28.523810,0.365385,11.250000,17.970000,7.670000

In [86]:
df_one = pd.DataFrame(csv_2015_to_2022)
df_one.columns.values

array(['torneo', 'fecha', 'partido', 'equipo_local', 'equipo_visitante',
       'goles_local', 'goles_visitante', 'posesion_local',
       'tiros_arco_local', 'intentos_local', 'faltas_local',
       'tiro_esquina_local', 'posesion_visitante', 'tiros_arco_visitante',
       'intentos_visitante', 'faltas_visitante', 'tiro_esquina_visitante',
       'amarillas_local', 'amarillas_visitante', 'rojas_local',
       'rojas_visitante', 'valor_mercado_local', 'altura_media_local',
       'edad_media_local', 'proporcion_zurdos_local',
       'valor_mercado_visitante', 'altura_media_visitante',
       'edad_media_visitante', 'proporcion_zurdos_visitante', 'resultado',
       'fecha_encuentro', 'apuesta_local', 'apuesta_visitante',
       'apuesta_empate'], dtype=object)

In [87]:
# I keep only the columns that interest me
df_clean_one = df_one.drop(columns=['posesion_local','torneo', 'fecha', 'partido', 'fecha_encuentro',
       'tiros_arco_local', 'intentos_local', 'faltas_local',
       'tiro_esquina_local', 'posesion_visitante', 'tiros_arco_visitante',
       'intentos_visitante', 'faltas_visitante', 'tiro_esquina_visitante',
       'amarillas_local', 'amarillas_visitante', 'rojas_local',
       'rojas_visitante', 'valor_mercado_local', 'altura_media_local',
       'edad_media_local', 'proporcion_zurdos_local',
       'valor_mercado_visitante', 'altura_media_visitante',
       'edad_media_visitante', 'proporcion_zurdos_visitante', 'apuesta_local', 'apuesta_visitante',
       'apuesta_empate'])

df_clean_one.sort_values('equipo_local', ascending=True)

     equipo_local equipo_visitante  goles_local  goles_visitante resultado
724      Aldosivi         Banfield            1                3         V
2526     Aldosivi  Rosario Central            2                1         L
2573     Aldosivi      River Plate            0                3         V
2793     Aldosivi     Talleres (C)            1                3         V
593      Aldosivi      Racing Club            2                1         L
...           ...              ...          ...              ...       ...
1049        Velez            Tigre            2                1         L
1551        Velez         Banfield            1                1         E
2420        Velez        Patronato            0                0         E
295         Velez      Atl Rafaela            2                2         E
0           Velez         Aldosivi            2                0         L

[2821 rows x 5 columns]

In [88]:
# Save as afa_2015_2022_sorted.csv
df_clean_one.to_csv("afa_2015_2022_sorted.csv", index=False)

In [ ]:
river_puntos = 0
for i in df_clean_one.iloc:
    if (i['torneo']=='Campeonato 2021'):
        if ((i['equipo_visitante']=='River Plate') and (i['resultado']=='V')) or ((i['equipo_local']=='River Plate') and (i['resultado']=='L')):
            river_puntos = river_puntos + 3
        elif (i['equipo_visitante']=='River Plate' or i['equipo_local']=='River Plate' )and (i['resultado']=='E'):
            river_puntos = river_puntos + 1
river_puntos

54

In [ ]:
partidos_jugados = 0
torneos=[]
boca_g=0
boca_p=0
empates=0
for i in df_clean_one.iloc:
    if ((i['equipo_visitante']=='Racing Club') and  (i['equipo_local']=='Estudiantes (LP)')) or ((i['equipo_visitante']=='Estudiantes (LP)') and  (i['equipo_local']=='Racing Club')):
        if (i['resultado']=='V') and (i['equipo_visitante']=='Estudiantes (LP)'):
            boca_g+=1
        if (i['resultado']=='L') and (i['equipo_local']=='Estudiantes (LP)'):
            boca_g+=1
        if (i['resultado']=='E'): 
            empates+=1
        partidos_jugados+=1    
procentaje_g = boca_g/partidos_jugados
procentaje_g
partidos_jugados

8

In [ ]:
def resultados_partidos (equipo, rival):
    partidos_jugados = 0
    ganados = 0
    empates=0
    
    for i in df_clean_one.iloc:
        if ((i['equipo_visitante']==equipo) and  (i['equipo_local']==rival)) or ((i['equipo_visitante']==rival) and  (i['equipo_local']==equipo)):
            if (i['resultado']=='V') and (i['equipo_visitante']==equipo):
                ganados+=1
            if (i['resultado']=='L') and (i['equipo_local']==equipo):
                ganados+=1
            if (i['resultado']=='E'): 
                empates+=1
            partidos_jugados+=1
    perdidos = partidos_jugados - (ganados + empates)    
    return ganados, perdidos, empates, partidos_jugados

g,p,e,pj = resultados_partidos('Boca Juniors','River Plate')

In [ ]:
river_l = 0
river_v = 0
river_e = 0
for i in df_clean_one.iloc:
    if (i['torneo']=='Campeonato 2021'):
        if ((i['equipo_visitante']=='River Plate') and (i['resultado']=='V')) or ((i['equipo_local']=='River Plate') and (i['resultado']=='L')):
            river_puntos = river_puntos + 3
        elif (i['equipo_visitante']=='River Plate' or i['equipo_local']=='River Plate' )and (i['resultado']=='E'):
            river_puntos = river_puntos + 1
river_puntos

108