In [196]:
import pandas as pd

In [197]:
#read de files
csv_2015_to_2022 = pd.read_csv('afa_2015_2022_spa.csv')
csv_after_seventys = pd.read_csv('results.csv')

In [198]:
# describe the csv_2015_to_2022
csv_2015_to_2022.describe()

,fecha,partido,goles_local,goles_visitante,posesion_local,tiros_arco_local,intentos_local,faltas_local,tiro_esquina_local,posesion_visitante,...,altura_media_local,edad_media_local,proporcion_zurdos_local,valor_mercado_visitante,altura_media_visitante,edad_media_visitante,proporcion_zurdos_visitante,apuesta_local,apuesta_visitante,apuesta_empate
count,2821.000000,2821.000000,2821.000000,2821.000000,1496.000000,1496.000000,1496.000000,1496.000000,1496.000000,1496.000000,...,2821.000000,2821.000000,2821.000000,2821.000000,2821.000000,2821.000000,2821.000000,2818.000000,2818.000000,2818.000000
mean,13.586671,7.486707,1.292449,0.990783,51.115642,4.429144,13.676471,13.334893,5.392380,48.884358,...,1.789969,25.385380,0.228336,35.810429,1.789979,25.382698,0.228515,2.411806,3.932789,3.281011
std,7.874324,4.066589,1.126050,1.038575,10.788852,2.233298,4.740730,4.011623,2.835121,10.788852,...,0.011158,1.164381,0.051016,30.937508,0.011106,1.168756,0.051082,0.864064,1.840714,0.476900
min,1.000000,1.000000,0.000000,0.000000,21.000000,0.000000,1.000000,3.000000,0.000000,18.000000,...,1.757317,22.698113,0.093023,4.400000,1.757317,22.698113,0.093023,1.140000,1.260000,2.060000
25%,7.000000,4.000000,0.000000,0.000000,43.000000,3.000000,10.000000,10.000000,3.000000,41.000000,...,1.781860,24.644444,0.190476,14.925000,1.781860,24.608696,0.190476,1.850000,2.720000,3.000000
50%,13.000000,7.000000,1.000000,1.000000,51.000000,4.000000,13.000000,13.000000,5.000000,49.000000,...,1.789250,25.292683,0.230769,25.200000,1.789250,25.292683,0.230769,2.220000,3.480000,3.140000
75%,20.000000,11.000000,2.000000,2.000000,59.000000,6.000000,17.000000,16.000000,7.000000,57.000000,...,1.797600,26.085106,0.264151,46.425000,1.797600,26.085106,0.264151,2.770000,4.550000,3.390000
max,30.000000,15.000000,8.000000,6.000000,82.000000,13.000000,31.000000,27.000000,16.000000,79.000000,...,1.819211,28.523810,0.365385,201.050000,1.819211,28.523810,0.365385,11.250000,17.970000,7.670000

In [199]:
# describe the csv_after_sevntys
csv_after_seventys.describe()

,Unnamed: 0,local_team_id,local_result,visitor_result,visitor_team_id
count,32854.000000,32854.000000,32854.000000,32854.000000,32854.000000
mean,16426.500000,52.585560,1.649388,1.168747,52.595240
std,9484.277208,27.021757,1.406555,1.139048,26.999109
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8213.250000,27.000000,1.000000,0.000000,29.000000
50%,16426.500000,56.000000,1.000000,1.000000,56.000000
75%,24639.750000,75.000000,2.000000,2.000000,75.000000
max,32853.000000,94.000000,12.000000,11.000000,94.000000

In [200]:
df_one = pd.DataFrame(csv_2015_to_2022)
df_one.columns.values

array(['torneo', 'fecha', 'partido', 'equipo_local', 'equipo_visitante',
       'goles_local', 'goles_visitante', 'posesion_local',
       'tiros_arco_local', 'intentos_local', 'faltas_local',
       'tiro_esquina_local', 'posesion_visitante', 'tiros_arco_visitante',
       'intentos_visitante', 'faltas_visitante', 'tiro_esquina_visitante',
       'amarillas_local', 'amarillas_visitante', 'rojas_local',
       'rojas_visitante', 'valor_mercado_local', 'altura_media_local',
       'edad_media_local', 'proporcion_zurdos_local',
       'valor_mercado_visitante', 'altura_media_visitante',
       'edad_media_visitante', 'proporcion_zurdos_visitante', 'resultado',
       'fecha_encuentro', 'apuesta_local', 'apuesta_visitante',
       'apuesta_empate'], dtype=object)

In [201]:
df_two = pd.DataFrame(csv_after_seventys)
df_two.columns.values

array(['Unnamed: 0', 'date_name', 'local_team_id', 'local_team',
       'local_result', 'visitor_result', 'visitor_team',
       'visitor_team_id'], dtype=object)

In [202]:
df_two

,Unnamed: 0,date_name,local_team_id,local_team,local_result,visitor_result,visitor_team,visitor_team_id
0,0,Nacional 1976 - Grupo C,1,All Boys,2,0,Aldosivi,0
1,1,Nacional 1976 - Grupo C,0,Aldosivi,4,0,All Boys,1
2,2,Superliga 2019/20 - Fecha 2,0,Aldosivi,0,0,Argentinos,7
3,3,Superliga 2018/19 - Fecha 15,7,Argentinos,1,2,Aldosivi,0
4,4,Torneo 2016 - Fecha 2,0,Aldosivi,3,2,Argentinos,7
...,...,...,...,...,...,...,...,...
32849,32849,Nacional 1976 - Grupo C,93,Union,1,0,Velez,94
32850,32850,Metropolitano 1975 - Fecha 36,94,Velez,0,0,Union,93
32851,32851,Metropolitano 1975 - Fecha 17,93,Union,1,0,Velez,94
32852,32852,Metropolitano 1970 - Fecha 16,93,Union,1,1,Velez,94
32853,32853,Nacional 1969 - Fecha 7,93,Union,0,0,Velez,94

In [203]:
# I keep only the columns that interest me
df_clean_one = df_one.drop(columns=['posesion_local',
       'tiros_arco_local', 'intentos_local', 'faltas_local',
       'tiro_esquina_local', 'posesion_visitante', 'tiros_arco_visitante',
       'intentos_visitante', 'faltas_visitante', 'tiro_esquina_visitante',
       'amarillas_local', 'amarillas_visitante', 'rojas_local',
       'rojas_visitante', 'valor_mercado_local', 'altura_media_local',
       'edad_media_local', 'proporcion_zurdos_local',
       'valor_mercado_visitante', 'altura_media_visitante',
       'edad_media_visitante', 'proporcion_zurdos_visitante', 'apuesta_local', 'apuesta_visitante',
       'apuesta_empate'])

df_clean_one

,torneo,fecha,partido,equipo_local,equipo_visitante,goles_local,goles_visitante,resultado,fecha_encuentro
0,Campeonato 2015,1,1,Velez,Aldosivi,2,0,L,2015-02-13 18:00:00
1,Campeonato 2015,1,2,Racing Club,Rosario Central,0,1,V,2015-02-13 21:10:00
2,Campeonato 2015,1,3,San Lorenzo,Colon,2,0,L,2015-02-14 17:00:00
3,Campeonato 2015,1,4,Gimnasia (LP),Def y Justicia,0,1,V,2015-02-14 17:00:00
4,Campeonato 2015,1,5,Godoy Cruz,San Martin (SJ),1,1,E,2015-02-14 19:15:00
...,...,...,...,...,...,...,...,...,...
2816,Campeonato 2022,27,10,Patronato,Huracan,3,2,L,2022-10-23 17:00:00
2817,Campeonato 2022,27,11,Barracas Central,Newells,1,1,E,2022-10-24 15:30:00
2818,Campeonato 2022,27,12,Rosario Central,Colon,1,1,E,2022-10-24 16:30:00
2819,Campeonato 2022,27,13,Tigre,Arsenal,1,4,V,2022-10-24 20:30:00
2820,Campeonato 2022,27,14,Platense,Lanus,1,1,E,2022-10-25 20:00:00

In [204]:
df_two['resultado']= '' # create a new column, in csv_after_seventys and agregate the correct values

df_two.loc[df_two['local_result'] > df_two['visitor_result'], 'resultado'] = 'L'
df_two.loc[df_two['local_result'] < df_two['visitor_result'], 'resultado'] = 'V'
df_two.loc[df_two['local_result'] == df_two['visitor_result'], 'resultado'] = 'E'
df_two

,Unnamed: 0,date_name,local_team_id,local_team,local_result,visitor_result,visitor_team,visitor_team_id,resultado
0,0,Nacional 1976 - Grupo C,1,All Boys,2,0,Aldosivi,0,L
1,1,Nacional 1976 - Grupo C,0,Aldosivi,4,0,All Boys,1,L
2,2,Superliga 2019/20 - Fecha 2,0,Aldosivi,0,0,Argentinos,7,E
3,3,Superliga 2018/19 - Fecha 15,7,Argentinos,1,2,Aldosivi,0,V
4,4,Torneo 2016 - Fecha 2,0,Aldosivi,3,2,Argentinos,7,L
...,...,...,...,...,...,...,...,...,...
32849,32849,Nacional 1976 - Grupo C,93,Union,1,0,Velez,94,L
32850,32850,Metropolitano 1975 - Fecha 36,94,Velez,0,0,Union,93,E
32851,32851,Metropolitano 1975 - Fecha 17,93,Union,1,0,Velez,94,L
32852,32852,Metropolitano 1970 - Fecha 16,93,Union,1,1,Velez,94,E
32853,32853,Nacional 1969 - Fecha 7,93,Union,0,0,Velez,94,E

In [205]:
# rename columns and drop someone

df_two.rename(columns={'local_team':'equipo_local', 'visitor_team': 'equipo_visitante', 'local_result': 'goles_local', 'visitor_result': 'goles_visitante'}, inplace=True)
df_clean_two = df_two.drop(columns=['Unnamed: 0','local_team_id', 'visitor_team_id'])
df_clean_two

,date_name,equipo_local,goles_local,goles_visitante,equipo_visitante,resultado
0,Nacional 1976 - Grupo C,All Boys,2,0,Aldosivi,L
1,Nacional 1976 - Grupo C,Aldosivi,4,0,All Boys,L
2,Superliga 2019/20 - Fecha 2,Aldosivi,0,0,Argentinos,E
3,Superliga 2018/19 - Fecha 15,Argentinos,1,2,Aldosivi,V
4,Torneo 2016 - Fecha 2,Aldosivi,3,2,Argentinos,L
...,...,...,...,...,...,...
32849,Nacional 1976 - Grupo C,Union,1,0,Velez,L
32850,Metropolitano 1975 - Fecha 36,Velez,0,0,Union,E
32851,Metropolitano 1975 - Fecha 17,Union,1,0,Velez,L
32852,Metropolitano 1970 - Fecha 16,Union,1,1,Velez,E
32853,Nacional 1969 - Fecha 7,Union,0,0,Velez,E